<h1>What is Real Estates?</h1>
<p>Our Mission

Our mission is to empower consumers with information and tools to make smart decisions about homes, real estate and mortgages.

What We Do

Real Estates is a home and real estate marketplace dedicated to helping homeowners, home buyers, sellers, renters, real estate agents, mortgage professionals, landlords and property managers find and share vital information about homes, real estate and mortgages. We are transforming the way consumers make home-related decisions and connect with real estate professionals.

It starts with our living database of more than 110 million U.S. homes* - including homes for sale, homes for rent and homes not currently on the market. Add to that Real Estatimate® home values, Real Estatimates and lots of other useful information you won't find anywhere else, and as a result, consumers are given an edge in real estate.

In addition to real-estates.herokuapp.com, we also operate Real Mortgage Marketplace, where borrowers connect with lenders to find loans and get the best mortgage rates; and Real Estates Mobile, the most popular real estate mobile platform today.</p>
