<h1>Contact Us</h1>
<p>1-888-277-9779 Email Sales & Inquiries
 

CUSTOMER CARE Monday to Saturday, 8:30am to 4:30pm (CST)
1-866-977-1777 Email Customer Care

POINT2 OFFICE
Toll Free (North America): 
1-866-977-1777 
Fax: 1-888-955-5171 

International: 
1-306-955-1855 
Fax: 1-306-955-0471 #500 - 3301 8th Street E. 
Saskatoon, SK 
S7H 5K5 
Canada
</p>
